<?xml version="1.0"?>
<!--
    /**
     * @category    NewPage
     * @package     NewPage
     * @author      Yuriy Manzhela <yvmanzhela@mail.ru>
     */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Newcms_NewPage" setup_version="1.0.1"/>
</config>
