<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Astro_Badges::menu" title="Manage Astro" sortOrder="10">
                    <resource id="Astro_Badges::astro_index" title="Astro Index" sortOrder="10"/>
                    <resource id="Astro_Badges::astro_edit" title="Astro Edit" sortOrder="10"/>
                    <resource id="Astro_Badges::astro_delete" title="Astro Delete" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
