<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">


    <virtualType name="Astro\Badges\Model\ResouceModel\Astro\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">astro_badges</argument>
            <argument name="resourceModel" xsi:type="string">Astro\Badges\Model\ResouceModel\Astro</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="astro_badges_astro_listing_data_source" xsi:type="string">Astro\Badges\Model\ResouceModel\Astro\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <preference for="\Magento\Catalog\Block\Product\View\Gallery"
                type="Astro\Badges\Block\Product\View\Gallery" />

<!--    <preference for="\Magento\Catalog\Block\Product\ProductList\Related"-->
<!--                type="Edu\CmsSimpleBadge\Block\Product\ProductList\Related" />-->

<!--    <preference for="\Magento\CatalogWidget\Block\Product\ProductsList"-->
<!--                type="Edu\CmsSimpleBadge\Block\Product\ProductsList" />-->

</config>